@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  @apply inline-flex items-center rounded-md border border-transparent bg-gray-100 px-4 py-2 text-sm font-semibold tracking-normal text-gray-800 ring-gray-300 transition duration-150 ease-in-out disabled:bg-gray-100 disabled:text-gray-300;
}

.button.btn-sm {
  @apply px-1 py-0 leading-none;
}

.button:hover {
  @apply bg-gray-200 disabled:bg-gray-100 disabled:text-gray-300;
}

.button:active,
.button:focus {
  @apply bg-gray-300 ring disabled:bg-gray-100 disabled:text-gray-300;
}

.button.button-primary {
  @apply bg-indigo-500 text-white !important;
}

.button-primary:hover,
.button.button-primary:active,
.button.button-primary:focus {
  @apply bg-indigo-600 !important;
}

.button.button-primary:disabled {
  @apply bg-indigo-300 !important;
}

.button.button-success {
  @apply bg-green-500 text-white !important;
}

.button-success:hover,
.button.button-success:active,
.button.button-success:focus {
  @apply bg-green-600 !important;
}

.button.button-success:disabled {
  @apply bg-green-400 !important;
}

.button.button-danger {
  @apply bg-red-500 text-white !important;
}

.button-danger:hover,
.button.button-danger:active,
.button.button-danger:focus {
  @apply bg-red-600 !important;
}

.button.button-danger:disabled {
  @apply bg-red-200 !important;
}

/*html {
  max-width: 1160px;
}*/

/*.col-4 {
  width: calc(100vw * 4/12);
}

.col-5 {
  width: calc(100vw * 5/12);
}

.col-6 {
  width: calc(100vw * 6/12);
}

.col-7 {
  width: calc(100vw * 7/12);
}

.max-width-3col {
  max-width: 658px;
}*/

/*.logotipo {
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
}*/

/*.mb-80 {
  margin-bottom: 80px;
}*/

/*.border {
  border: 1px solid black;
}*/

/*.botoes-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.desenvolvedor {
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 72px;
  line-height: 80px;
}

.localizacao {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
}*/

.font-display {
  font-family: "Fira Sans", sans-serif;
  /*font-size: 18px;*/
  /*line-height: 60px;*/
}

/*.btn {
  margin-left: 10px;
  margin-right: 10px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}*/

/*.texticulo {
  font-family: "Fira Sans", sans-serif;
  border: 1px solid black;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}*/

/*.font-bold {*/
/*  font-weight: bold;*/
/*}*/

/*.float-right {*/
/*  float: right;*/
/*}*/

/*.when {*/
/*  font-family: "Fira Sans", sans-serif;*/
/*  !*font-size: 24px;*!*/
/*  !*line-height: 32px;*!*/
/*  !*padding-right: 40px;*!*/
/*  !*padding-top: 20px;*!*/
/*}*/

/*.what {
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}*/

.card-title {
  @apply font-display text-g10 mb-5 text-2xl font-bold;
}

.card-text {
  @apply font-display text-g10 text-2xl leading-8;
  /*font-family: "Fira Sans", sans-serif;*/
  /*font-size: 24px;*/
  /*line-height: 32px;*/
}

.job-title {
  @apply font-display text-g10 mb-2.5 text-2xl font-bold;
  /*font-family: "Fira Sans", sans-serif;*/
  /*font-weight: bold;*/
  /*font-size: 24px;*/
  /*line-height: 20px;*/
  /*margin-bottom: 10px;*/
}

.caixinhas {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 233px;
}

.caixinha {
  border-radius: 5px;
  background-color: #f7f7f7;
  color: #404040;
  padding: 5px 10px;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  line-height: 32px;
  word-wrap: unset;
}

.border-radius-5 {
  border-radius: 5px;
}

/*.text-align-right {
  text-align: right;
}*/

.pl-140 {
  padding-left: 140px;
}

.primeira-coluna {
  @apply col-span-4;
}

.segunda-coluna {
  @apply col-span-3;
}

.caixa-experiencia {
  @apply bg-g3 border-g5 col-span-7 grid grid-cols-7 gap-x-5 rounded p-5;
}

.coluna-quando {
  @apply font-display text-right col-span-5 col-span-5 pr-10 pt-5 text-2xl leading-6;
}

.navbar-item {
  @apply sm:text-g12 block rounded bg-blue-700 py-2 pr-4 pl-3 text-lg leading-[60px] text-white dark:text-white sm:bg-transparent sm:p-0 ;
}
